apiVersion: apps/v1
kind: Deployment
metadata:
  name: ns1
  labels:
    app : authoring-datacollector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authoring-datacollector
  template:
    metadata:
      labels:
        app: authoring-datacollector
    spec:
      containers:
      - name : authoring-datacollector
        image: streamsets/datacollector:latest
        ports:
        - containerPort: 18360
        env:
        - name: SDC_CONF_SDC_BASE_HTTP_URL
          value: https://authsdc.onefoursix.com
        - name: SDC_CONF_HTTP_ENABLE_FORWARDED_REQUESTS
          value: true
